services:
  the-island:
    tty: true
    restart: unless-stopped
    build:
      context: .
      args:
        - PGID
        - PUID
    env_file:
      - .env
    environment:
      SERVER_MAP: TheIsland_WP
      SESSION_NAME: My Awesome Server with The Island # Set the Server Name
      SERVER_PORT: 7990
    volumes:
      - the-island_data:/opt/arkserver
      - the-island_backup:/var/backups/asa-server
      - steam_data:/opt/steamcmd
      - cluster:/opt/shared-cluster
    ports:
      - "7790:7990/udp"
      #- "${RCON_PORT}:${RCON_PORT}/tcp"
    stop_grace_period: 45s
  extinction:
    tty: true
    restart: unless-stopped
    build:
      context: .
    env_file:
      - .env
    environment:
      SERVER_MAP: Extinction_WP
      SESSION_NAME: My Awesome Server with Extinction # Set the Server Name
      SERVER_PORT: 7791
    volumes:
      - extinction_data:/opt/arkserver
      - extinction_backup:/var/backups/asa-server
      - steam_data:/opt/steamcmd
      - cluster:/opt/shared-cluster
    ports:
      - "7791:7791/udp"
      #- "${RCON_PORT}:${RCON_PORT}/tcp"
    stop_grace_period: 45s
  # config: # Uncomment Service if you want to use Dynamicconfig
  #   image: python:3.9
  #   entrypoint: python3 -m http.server --directory /web 80
  #   volumes:
  #     - ./web:/web
volumes:
    steam_data:
    cluster:
    the-island_data:
    the-island_backup:
    extinction_data:
    extinction_backup:
