# Ark: Survival Ascended - Cluster Environment Configuration Template

# By default, the name of the parent directory of compose.yml is used as the project name.
# If you want to avoid conflicts with other projects, edit the line below to specify a project name.
#COMPOSE_PROJECT_NAME=TEST

# Presets session names
ASA0_SESSION_NAME=Alpha
ASA1_SESSION_NAME=Beta
ASA2_SESSION_NAME=Gamma
ASA3_SESSION_NAME=Delta
ASA4_SESSION_NAME=Epsilon
ASA5_SESSION_NAME=Zeta
ASA6_SESSION_NAME=Eta
ASA7_SESSION_NAME=Theta
ASA8_SESSION_NAME=Iota
ASA9_SESSION_NAME=Kappa

# Presets server ports
ASA0_SERVER_PORT=7790
ASA1_SERVER_PORT=7791
ASA2_SERVER_PORT=7792
ASA3_SERVER_PORT=7793
ASA4_SERVER_PORT=7794
ASA5_SERVER_PORT=7795
ASA6_SERVER_PORT=7796
ASA7_SERVER_PORT=7797
ASA8_SERVER_PORT=7798
ASA9_SERVER_PORT=7799

# Session Name Prefix
ASA_SESSION_PREFIX="TEST - "

# Cluster-wide Discord Webhook URL
ASA_DISCORD_WEBHOOK_URL=

# Server 0 Settings
ASA0_SERVER_MAP=TheIsland_WP:1460513
# Override the cluster-wide Discord Webhook URL for this server (optional)
ASA0_DISCORD_WEBHOOK_URL=

# Server 1 Settings
ASA1_SERVER_MAP=BobsMissions_WP:1005639
ASA1_DISCORD_WEBHOOK_URL=

# Server 2 Settings
ASA2_SERVER_MAP=
ASA2_DISCORD_WEBHOOK_URL=

# Server 3 Settings
ASA3_SERVER_MAP=
ASA3_DISCORD_WEBHOOK_URL=

# Server 4 Settings
ASA4_SERVER_MAP=
ASA4_DISCORD_WEBHOOK_URL=

# Server 5 Settings
ASA5_SERVER_MAP=
ASA5_DISCORD_WEBHOOK_URL=

# Server 6 Settings
ASA6_SERVER_MAP=
ASA6_DISCORD_WEBHOOK_URL=

# Server 7 Settings
ASA7_SERVER_MAP=
ASA7_DISCORD_WEBHOOK_URL=

# Server 8 Settings
ASA8_SERVER_MAP=
ASA8_DISCORD_WEBHOOK_URL=

# Server 9 Settings
ASA9_SERVER_MAP=
ASA9_DISCORD_WEBHOOK_URL=

# Master Server Settings
ASA0_CLUSTER_NODES=2
ASA0_AUTO_BACKUP_ENABLED=true
ASA0_AUTO_BACKUP_CRON_EXPRESSION="0 3 * * *"
ASA0_AUTO_UPDATE_ENABLED=true
ASA0_AUTO_UPDATE_CRON_EXPRESSION="0 4 * * 0"
